.item-img {
  width: 25vh;
  height: 25vh;
  margin-left: 20px;
}

.member-index {
  width: 500px;
}

.title {
  text-align: center;
  }
  
  .search-content {
    background-color: rgb(190, 190, 190);
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    height: 50px;
    width: 80%;
  }
  
  .team-index {
    width: 500px;
    list-style: none;
  }
  
  
  .team-info {
    margin-left: 40px;
  }
  